extends layout

block content
  section.jumbotron
    .container
      h1 Url Shortening microservice
        br
        small Created for FreeCodeCamp
  section.container
    h3 Example usage:
    p Get a shortened url: 
      code https://leshorturl.herokuapp.com/new/http://www.example.com
    p Visit a shortened url:
      code https://leshorturl.herokuapp.com/587d4009734d1d5b7d46003d
